@import "../../global.scss";

.topbar {
  width: 100%;
  height: 100px;
  background-color: white;
  color: $mainColor;
  position: fixed;
  top: 0;
  z-index: 3;
  transition: all 2s ease;

  .wrapper {
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .left {
      display: flex;
      align-items: center;

      .logo {
        font-size: 40px;
        font-weight: 700;
        text-decoration: none;
        color: inherit;
        margin-right: 10px;
      }

      .itemContainer {
        display: flex;
        align-items: center;
        margin-left: 30px;

        .icon {
          font-size: 25px;
          margin-right: 5px;
        }

        span {
          font-size: 20px;
          font-weight: 500;
        }
      }
    }

    .right {
      .hamburger {
        width: 35px;
        height: 25px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        cursor: pointer;

        span {
          width: 100%;
          height: 3px;
          background-color: $mainColor;
          transform-origin: left;
          transition: all 2s ease;
        }
      }
    }
  }

  &.active {
    .hamburger {
      overflow: hidden;

      span {
        &:first-child {
          transform: rotate(40deg);
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:last-child {
          transform: rotate(-40deg);
        }
      }
    }
  }
}
